.mainContainer{
    position: absolute;
    left: 87%;
    
}
.head-text{ 
    font-size: 19px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
}
.head-container {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50%; 
    background: rgba(168, 158, 158, 0.6);;
    height: 20px;
    width: 200px;
}
.sidebar{
    text-align: left;
    width: 200px;
    background: rgba(168, 158, 158, 0.6);
    position: absolute;
    height: 75vh;
    right: -100%;
}
.icon{
    cursor: pointer;
}
.sidebar.active{
    right: 0;
}
ul{
    padding: 0;
    margin-top: 10%;
}
ul li{
    list-style-type: none;
    padding: 15px;
    background-color: rgba(83, 82, 82, 0.6);
    margin-top: 6px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 17px;

}
ul li a{
    color: white;
    padding: 2px;
    font-size: 18px;
}
.head-container:hover{
    box-shadow: rgb(0, 0, 0) 4px 7px 5px;
}
li:hover{
    background: rgba(56, 55, 55, 0.6);
    box-shadow: rgba(56, 55, 55, 1) 3px 5px 6px;
}
@media screen and (max-width: 2048px){
    .mainContainer{
        position: absolute;
        left: 87%;
        
    }
}
@media screen and (max-width: 768px){
    .mainContainer{
        position: absolute;
        left: 81%;
        
    }
    .head-text{ 
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .head-container {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 50%; 
        height: 20px;
        width: 130px;
    }
    .sidebar{
        text-align: left;
        width: 130px;
        position: absolute;
        height: 68vh;
        right: -100%;
    }
}
@media screen and (max-width: 546px){
    .mainContainer{
        position: absolute;
        left: 81%;
    }
    .head-text{ 
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .head-container {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 50%; 
        height: 20px;
        width: 105px;
    }
    .sidebar{
        text-align: left;
        width: 105px;
        position: absolute;
        height: 65vh;
        right: -100%;
    }
}
